body{
	background-color: limegreen;
	text-align: center;
	}

header{
	width: 75vw;
	height: 25px auto;
}

main{
	width: 75vw;
	height: 25px auto;
	display: flow-root;
}

h1{
	color: tomato;
	font-family: "Courier New", "consolas", sans-serif;
}
h2{
	color: tomato;
	font-family: "Courier New", "consolas", sans-serif;
}
h3{
	color: tomato;
	font-family: "consolas", sans-serif;
}
p{
	color: tomato;
	font-family: "consolas", sans-serif;
}
a:hover{
	color: skyblue;
}
ul{
	color: tomato;
	font-family: "consolas", sans-serif;
	border: 3px dashed blue;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li{
	color: tomato;
	font-family: "consolas", sans-serif;
	font-size: 1rem;
	line-height: 1.5rem;
	margin-bottom: 10px;
	text-align: left;
	letter-spacing: 1px;
	font-weight: 700;
}
.col{
	margin: 0px;
	width: 50%;
	float: left;
}

@media screen and (max-width: 915px) {
	.col{
		width: 100%;
		margin-bottom: 50px;
	} 

	header{
		width: 90vw;
	}
	main{
		width: 90vw;
	}
	h1{
		font-size: 3rem;
	}
}