body{
	margin: 0;
}

.black{
	margin: 0;
	background: black;
}

.navajowhite{
	margin: 0;
	background: navajowhite;
}

.alice{
	background: aliceblue;
}

.cyber{
	background: linear-gradient(to bottom, #73e6f5 0%, #3a47fc 100%);
}

.sky{
	background: #73e6f5;
}


.gradient{
	background: linear-gradient(to top, #fff32e 0%, #3a47fc 100%);
}

h1{
	font-family: "Wix Madefor Text", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 400;
  	font-style: normal;
}

ul{
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
}
li{
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.DivA1{
	width: 50px;
	height: 50px;
	float: left;
	border: 20px solid aliceblue;
	transform: skew(40deg);
	opacity: 1;
}

.DivA2{
	width: 50px;
	height: 50px;
	float: left;
	border: 20px solid lawngreen;
	transform: skew(40deg);
	opacity: 0.7;
}

.DivA3{
	width: 50px;
	height: 50px;
	float: left;
	border: 20px solid orangered;
	transform: skew(40deg);
	opacity: 0.7;
}

.DivB1{
	width: 50px;
	height: 50px;
	float: left;
	border: 20px dotted greenyellow;
	transform: skew(5deg);
	border-radius: 100px;
	opacity: 0.3;
}

.DivB2{
	width: 100px;
	height: 100px;
	float: left;
	border: 25px dotted cadetblue;
	transform: skew(5deg);
	border-radius: 100px;
	opacity: 0.4;
}

.DivB3{
	width: 100px;
	height: 100px;
	float: left;
	border: 30px dotted lightcoral;
	transform: skew(5deg);
	border-radius: 100px;
	opacity: 0.4;
}

.DivC1{
	width: 50px;
	height: 50px;
	float: left;
	background-color: mediumvioletred;
	border: rebeccapurple;
	margin: 20px;
	transform: skew(30deg);
	border-radius: 100px;
}

.DivC2{
	width: 100px;
	height: 100px;
	float: left;
	background-color: steelblue;
	border: powderblue;
	margin: 30px;
	transform: skew(30deg);
	border-radius: 100px;
}

.DivC3{
	width: 200px;
	height: 200px;
	float: left;
	background-color: palegreen;
	border: seagreen;
	margin: 40px;
	transform: skew(30deg);
	border-radius: 100px;
}

.DivD1{
	width: 250px;
	height: 250px;
	float: left;
	background-color: palegreen;
	border: seagreen;
	margin: 0px;
	transform: skew(30deg);
	border-radius: 100px;
}

.DivD2{
	width: 250px;
	height: 250px;
	float: left;
	background-color: coral;
	border: seagreen;
	margin: 0px;
	transform: skew(-30deg);
	border-radius: 100px;
}