.title-h1{
	color: teal;
	font-family: "Lora", serif;
  	font-optical-sizing: auto;
  	font-weight: 500;
  	font-style: normal;
	font-size: 30pt;
}
body{
	background-color: lightgray;
	font-family: "Figtree", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

h2{
	color: tomato;
	font-family: "Open Sans", sans-serif;
  	font-optical-sizing: auto;
	font-weight: 400; 
	font-style: normal;
}
h3{
	color: darkgoldenrod;
}
h4{
	color: saddlebrown;
	font-style: oblique;
}

p{
	color: rebeccapurple;
}

ul{
	color: saddlebrown;
	
	border: 1px dashed blueviolet;
}
li{
	color: saddlebrown;
	
}
#author{
	font-style: italic;
	color: turquoise;
}